body {
  background-color: #fff8c7;
  transition: background-color 0.5s ease;
}

@font-face {
  font-family: 美咲ゴシック第2;
  src: url(misaki_gothic_2nd.ttf) format("opentype"),
       url(misaki_gothic_2nd.otf) format("opentype"),
       url(misaki_gothic_2nd.woff2) format("woff2");
  font-display: block;
}

header {
  color: #fff;
  background-color: #7882fa;
  padding: 20px;
  text-align: center;
  font-family: 美咲ゴシック第2;
}

a {
  color: #fff;
  text-decoration: none;
}

.overview {
  color: #ff0000;
  margin-left: 100px;
  font-family: 美咲ゴシック第2;
}
